.tournaments-bg-image {
    background-image: url("../images/blurredrocket.png");
}

.val-bg-image {
    background-image: url("../images/val9.png");
    background-size: auto 100%;
    background-position: 30% 10%;
}

.league-bg-image {
    background-image: url("../images/lolbg.png");
    background-size: auto 100%;
    background-position: 30% 10%;
}

.rocket-bg-image {
    background-image: url("../images/rocketleg.png");
    background-size: auto 100%;
    background-position: 30% 10%;
}

.ow-bg-image {
    background-image: url("../images/owbg.png");
    background-size: auto 100%;
    background-position: 30% 10%;
}

.fifa-bg-image {
    background-image: url("../images/fifa.jpg");
    background-size: auto 100%;
    background-position: 30% 10%;
}

@media (max-width: 767px) {
    .val-bg-image,
    .league-bg-image,
    .rocket-bg-image,
    .ow-bg-image
    .fifa-bg-image {
        background-size: cover;
    }
}

.owl-stage-outer,
.owl-stage,
.owl-item {
    height: 100%;
}

.owl-nav{
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    font-size: 100px;
    padding: 0 20px;
}

.owl-nav span{
    color: white;
    transition: color 0.2s ease-in-out;
}

.owl-nav span:hover{
    color: #0d9488;
}